**/data/
/__pycache__

# SQL
blog_posts

#Poetry
.venv

# General
*.csv
*.npy

*.jpg

# Unsupervised Machine Learning
## week4
boats
peds
traffic

face_data
cartoon_20000
**/gan_data

*.pth

**/financial-data
**/mini_speech_commands
human_data.txt